myenv/
__pycache__/
flasky/env/bin/email_validator
flasky/env/bin/markdown_py
flasky/env/lib/python3.10/site-packages/Flask_HTTPAuth-4.8.0.dist-info/
flasky/env/lib/python3.10/site-packages/Flask_Login-0.6.2.dist-info/
flasky/env/lib/python3.10/site-packages/Flask_PageDown-0.4.0.dist-info/
flasky/env/lib/python3.10/site-packages/ForgeryPy-0.1.egg-info/
flasky/env/lib/python3.10/site-packages/Markdown-3.4.4.dist-info/
flasky/env/lib/python3.10/site-packages/_mysql_connector.cpython-310-x86_64-linux-gnu.so
flasky/env/lib/python3.10/site-packages/_mysqlxpb.cpython-310-x86_64-linux-gnu.so
flasky/env/lib/python3.10/site-packages/bleach-6.0.0.dist-info/
flasky/env/lib/python3.10/site-packages/bleach/
flasky/env/lib/python3.10/site-packages/dns/
flasky/env/lib/python3.10/site-packages/dnspython-2.4.1.dist-info/
flasky/env/lib/python3.10/site-packages/email_validator-2.0.0.post2.dist-info/
flasky/env/lib/python3.10/site-packages/email_validator/
flasky/env/lib/python3.10/site-packages/flask_httpauth.py
flasky/env/lib/python3.10/site-packages/flask_login/
flasky/env/lib/python3.10/site-packages/flask_pagedown/
flasky/env/lib/python3.10/site-packages/forgery_py/
flasky/env/lib/python3.10/site-packages/google/
flasky/env/lib/python3.10/site-packages/idna-3.4.dist-info/
flasky/env/lib/python3.10/site-packages/idna/
flasky/env/lib/python3.10/site-packages/markdown/
flasky/env/lib/python3.10/site-packages/mysql/
flasky/env/lib/python3.10/site-packages/mysql_connector_python-8.1.0.dist-info/
flasky/env/lib/python3.10/site-packages/mysqlx/
flasky/env/lib/python3.10/site-packages/protobuf-4.21.12.dist-info/
flasky/env/lib/python3.10/site-packages/six-1.16.0.dist-info/
flasky/env/lib/python3.10/site-packages/six.py
flasky/env/lib/python3.10/site-packages/webencodings-0.5.1.dist-info/
flasky/env/lib/python3.10/site-packages/webencodings/
node_modules/
package-lock.json
